{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>

    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}">
    <link href="https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css" rel="stylesheet" />
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"  src="{% static 'slick/slick.min.js' %}"></script>

</head>
<body>
    <div class="row">
        <div class="slider slider-for">
            {% for image in slider_images %}
                <div>
                        <img src="{% thumbnail image.image 750x420 crop %}" alt="{{ image.title }}">
                </div>
            {% endfor %}
        </div>
        <div class="slider slider-nav">
            {% for image in slider_images %}
                <div>
                    <img src="{% thumbnail image.image 165x165 crop %}" alt="{{ image.title }}">
                </div>
            {% endfor %}
        </div>
    </div>


    <script>
         $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: false,
            adaptiveHeight: true,
            asNavFor: '.slider-nav',
         });
        $('.slider-nav').slick({
          slidesToShow: 5,
          slidesToScroll: 1,
          arrows: true,
          asNavFor: '.slider-for',
<!--          dots: true,-->
          centerMode: true,
          centerPadding: '0px',
          focusOnSelect: true
        });
    </script>
</body>
</html>
