{% load static %}
{% load thumbnail %}

<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript"  src="{% static 'slick/slick.min.js' %}"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

<link href="{% static 'css/style.css' %}" rel="stylesheet" />

<div class="row">
    <div class="slider py-4 slider-for">
        {% for image in slider_images %}
            <a href="{{ image.image.url }}" data-lightbox="gallery">
                <img src="{% thumbnail image.image 750x420 crop %}" alt="{{ image.title }}" class="slide">
            </a>
        {% endfor %}
    </div>
    <div class="slider slider-nav">
        {% for image in slider_images %}
            <div>
                <img src="{% thumbnail image.image 165x165 crop %}" alt="{{ image.title }}">
            </div>
        {% endfor %}
    </div>
</div>


<script>
 $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: false,
    adaptiveHeight: true,
    asNavFor: '.slider-nav',
 });
$('.slider-nav').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    arrows: true,
    asNavFor: '.slider-for',
    centerMode: true,
    centerPadding: '0px',
    focusOnSelect: true,
    prevArrow:"<button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
    nextArrow:"<button type='button' class='slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>",
    responsive: [
        {
            breakpoint: 768, // Мобильные устройства
            settings: {
                centerPadding: '40px',
                slidesToShow: 3, // Уменьшить количество миниатюр
                arrows: false, // Отключить стрелки
            }
        }
    ]
});
</script>

